.containerMain {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
}

.titleBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  max-width: 1240px;
}

.main {
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  width: 1240px;
  height: 100%;
}

.columnOrders {
  width: 608px;
}

.columnInfo {
  overflow: hidden auto;
  width: 580px;
}
