.columns {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

.column {
  display: inline;
  min-width: 50%;
}

.list {
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;

  max-height: 180px;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.title {
  margin: 0;
  text-align: left;
}

.list_item {
  min-width: 50%;
  text-align: left;
}

.content {
  text-align: left;
}
