.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article {
  cursor: pointer;

  position: relative;

  display: flex;
  flex-direction: column;

  width: 260px;

  color: #ffff;
  text-decoration: none;
}

.cost {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: center;
}

.addButton {
  justify-content: center;
  width: 260px;
}
